// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#answer {
  background-color: #FFFEE1;
  border-left:5px solid #DDDDDD;
  padding: 4px;
  width: 500px;
  height: 70px;
  margin: 10px 0;
}

#question {
  border-left:5px solid #DDDDDD;
  padding: 7px;
  width: 500px;
  height: 70px;
  margin: 10px 0;
}
